tr,
tbody,
td {
    text-align: center !important;
}

.table td {
    text-align: center !important;
}
table.tableBodyScroll{
    zoom:83%
}
table.tableBodyScroll tbody {
    display: block;
    max-height: 300px;
    overflow-y: scroll;
}

table.tableBodyScroll thead,
table.tableBodyScroll tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}